[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/sputil"]
	path = external/sputil
	url = https://github.com/zpooky/sputil
	branch = master
